<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @advertise.name %>
</p>
<p>
  <b>Dashboard:</b>
  <%= @advertise.dashboard_id %>
</p>


<%= link_to 'Edit', edit_advertise_path(@advertise) %> |
<%= link_to 'Back', advertises_path %>
