<%= form_for(@weeklyadd) do |f| %>
  <% if @weeklyadd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weeklyadd.errors.count, "error") %> prohibited this weeklyadd from being saved:</h2>

      <ul>
      <% @weeklyadd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
