<h1>Listing dashboards</h1>
 
 <div class= "column span-24">
	
 	<div class = "column span-10 append-2 colborder box">
		<table border="3" cellspacing="0" cellpadding="0">
 		<th><h5>Electronics</h5></th>
		
			<tr>
				<%Dashboard.find(2).advertises.each do |advertise|%>
				
					<dl>
						<dt><%= advertise.name %></dt>
						<dt><%= advertise.url %></dt>
						<dt><%= number_to_currency(advertise.price) %></dt>
					</dl>
				<% end %>
			</tr>
		</table>
	</div>
	
	<div class = "column span-10 last colborder box">
		<table border="3" cellspacing="0" cellpadding="0">
		<th><h5>Cosmetics</h5></th>
			
				<tr>
					<%Dashboard.find(3).advertises.each do |advertise|%>
					<dl>
						<dt><%= advertise.name %></dt>
						<dt><%= advertise.url %></dt>
						<dt><%= number_to_currency(advertise.price) %></dt>
					</dl>
					<% end %>
					
				</tr>
			</table> 
	</div>
	
</div>


