<h1></h1>
 
 <div class= "column span-24">
	
 	<div class = "column span-10 append-2 box">
		<table>
 		<th><h3>Electronix</h3></th>
 		    <col style="width:380px" />    
 		    <col style="width:5px" />
 		    <col style="width:5px" />
		<% Dashboard.find(2).advertises.each do |advertise| %>
			<tr class= "<%= cycle("rowA", "rowB")%>">
				<td><%= advertise.name %></td>  
				<!--<td><%= link_to(advertise.url,url_with_protocol(advertise.url),:target => :blank) %></td>  -->
				<td><%= number_to_currency(advertise.price) %><td> 
				<td>	<%=link_to(image_tag("ButtonLetsgo.png", :size => "45x20", :border => 0), url_with_protocol(advertise.url),:target => :blank)%></td>
			</tr>
		<% end %>
		</table>
	</div>
	
	<div class = "column span-10 last box">
		<table>
		<th><h3>Cosmetix</h3></th>
		 <col style="width:380px" />    
 		 <col style="width:5px" />
 		 <col style="width:5px" />
		<% Dashboard.find(2).advertises.each do |advertise| %>
			<tr class= "<%= cycle("rowA", "rowB")%>">
				<td><%= advertise.name %></td>  
				<!--<td><%= link_to(advertise.url,url_with_protocol(advertise.url),:target => :blank) %></td>  -->
				<td><%= number_to_currency(advertise.price) %><td> 
				<td>	<%=link_to(image_tag("ButtonLetsgo.png", :size => "45x20", :border => 0), url_with_protocol(advertise.url),:target => :blank)%></td>
			</tr>
		<% end %>
			</table> 
	</div>
	
		<div class = "column span-10 append-2 box">
		<table>
		<th><h3>Sportx</h3></th>
		 <col style="width:380px" />    
 		 <col style="width:5px" />
 		 <col style="width:5px" />
		<% Dashboard.find(2).advertises.each do |advertise| %>
			<tr class= "<%= cycle("rowA", "rowB")%>">
				<td><%= advertise.name %></td>  
				<!--<td><%= link_to(advertise.url,url_with_protocol(advertise.url),:target => :blank) %></td>  -->
				<td><%= number_to_currency(advertise.price) %><td> 
				<td>	<%=link_to(image_tag("ButtonLetsgo.png", :size => "45x20", :border => 0), url_with_protocol(advertise.url),:target => :blank)%></td>
			</tr>
		<% end %>
		</table> 
	</div>
	
		<div class = "column span-10 last box">
		<table>
		<th><h3>Axxesories</h3></th>
		 <col style="width:380px" />    
 		 <col style="width:5px" />
 		 <col style="width:5px" />
		<% Dashboard.find(2).advertises.each do |advertise| %>
			<tr class= "<%= cycle("rowA", "rowB")%>">
				<td><%= advertise.name %></td>  
				<!--<td><%= link_to(advertise.url,url_with_protocol(advertise.url),:target => :blank) %></td>  -->
				<td><%= number_to_currency(advertise.price) %><td> 
				<td>	<%=link_to(image_tag("ButtonLetsgo.png", :size => "45x20", :border => 0), url_with_protocol(advertise.url),:target => :blank)%></td>
			</tr>
		<% end %>
		</table> 
	</div>
</div>


